@model EjercicioMVC3.Models.Pelicula

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pelicula</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estreno)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estreno)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idioma)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idioma)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resumen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resumen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Director.NombreDirector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Director.NombreDirector)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
